<div class="footer">

  <div class="footer-links">
    <!-- <ul> -->
      <a href="#"><i class="fa fa-youtube"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <!-- </ul> -->
  </div>

  <div class="footer-copyright">
    <p>©Unmask Cyberbullying Lucas Egard #Growth4Good</p>
  </div>
</div>
