<div class="footer">

  <div class="footer-links">
    <!-- <ul> -->
      <a href="https://youtu.be/BDYtRfkv0RA"><i class="fab fa-youtube"></i></a>
      <a href="https://www.facebook.com/Unmaskcyberbullying-2256356807943472/?modal=admin_todo_tour"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/unmaskcyberbullying/?hl=en"><i class="fab fa-instagram"></i></a>
      <!-- </ul> -->
  </div>

  <div class="footer-copyright">
    <p>©Unmask Cyberbullying Lucas Egard #Growth4Good</p>
  </div>
</div>
