<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/orange_logo.png" alt="logo" width="100">
  </a>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="#" class="navbar-wagon-item navbar-wagon-link home-orange">HOME</a>
    <a href="#" class="navbar-wagon-item navbar-wagon-link orange">JOIN US</a>
    <a href="#" class="navbar-wagon-item navbar-wagon-link orange">LET US HELP YOU</a>
  </div>
</div>
